<div class="grid-container">
  <div class="grid-item"><input type="text" [(ngModel)] ="first" #firstName> First Name</div>
  <div class="grid-item"><input name="lastName" ngModel pattern="[a-zA-Z ]*" 
                      [(ngModel)]="last" #lastName > Last Name</div>
  <div class="grid-item"><input name="mobileNo" ngModel pattern="[0-9]*" 
                      [(ngModel)]="mobile" #mobileNo> Mobile No</div>
  <div class="grid-item"><textarea ng-model="myTextarea" 
                      [(ngModel)]="address" #addRess></textarea> Address</div>
  
  <div class="grid-item">
        <button type="button" [disabled]="d"
             (click) = "update(firstName.value,lastName.value,mobileNo.value,addRess.value)" 
        class="btn btn-primary">Show value!</button>
  </div>

</div>

<p>
 First Name : {{fname}} <br> 
 Last Name : {{lname}}   <br>
 Mobile No : {{mno}}<br>
 Address : {{add}} <br>
</p>
 
